<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.54.0/phaser.min.js">
    <link rel="text/javascript" href="../src/phaser_game.js">
  </head>

  <body>
  </body>
</html>
